# This is Git's per-user configuration file.
[user]
	name = Richard Lynch
	email = rich753@hotmail.com
[core]
	editor = /usr/local/bin/mvim -v
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
